.navbar {
  background-color: #EFEAE2;
  min-height: 105px;
}

body {
  margin: 0;
}

.logo {
  margin-left: 50px;
  margin-top: 20px;
}

h2, h3, h4, h5, h6 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h1 {
  color: #211170d;
  font-size: 25px;
  font-weight: 500px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h2 {
  color: #202020;
  font-size: 20px;
  font-weight: 400px;
}

h4 {
  color: #929290;
  font-size: 15px;
  font-weight: 600px
}

.flickr-image {
  height: 150px;
  max-width: 250px;
}

.logo {
  width: 70px;
  height: 70px;
}

.main-heading {
  padding-top: 20px;
  padding-right: 30px;
}

.each-entry {
  padding-bottom: 20px;
}

body {
  min-width: 600px
}