<!DOCTYPE html>
<html ng-app="imageViewer">
<head>
  <title>Potato Flickr Feed - Front End Task</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
  <script src="js/app.js"></script>
  <link rel="shortcut icon" href="favicon.ico" />
</head>

<body ng-controller="AppGallery">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <img class="logo" src="logo.svg" alt="Potato Logo">
      <h1 class="pull-right main-heading"> Flickr Public Feed</h1>
    </div>
  </nav>

  <div class="container each-entry" ng-repeat="item in flickrData.items">
    <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
      <img class="flickr-image" ng-src="{{ item.media.m }}"/>
    </div>
    <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
      <h2>{{ item.title | limitTo: 80 }}{{ item.title.length > 80 ? '...' : '' }}</h2>  <!-- adapt this length -->
      <h4><a href="{{ item.link }}" target="_blank">View on flickr</a></h4>
      <h5><a href="https://www.flickr.com/people/{{ item.author_id }}" target="_blank">{{ item.author | justTheAuthorPlease }}</a></h5>
      <h6>Published on {{ item.published | date: "d MMM yyyy 'at' HH:mm"}}</h6>
    </div>
  </div>

</body>
</html>